@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
    --black:#171718;
    --white:#fff;
    --purple:#5C62EC;
    --black-border:#262920;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    
    /* light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
    --title-1: var(--accent);
    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0 5px 35px  rgba(0,0,0,0.25);
    --box-shadow-hover: 0 5px 35px  rgba(0,0,0,0.45);
}
.dark{
    --page-bg: #252526;
    --text-color: var(--white);
    --title-1: var(--white);
    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0 5px 35px  rgba(240, 236, 236, 0.507);
    --box-shadow-hover: 0 5px 35px  rgba(255, 255, 255, 0.932);
}

main{
    background-color: var(--page-bg);
    color: var(--text-color);
}
html, body {
    font-family: 'DM Sans', sans-serif;
    font-size: larger;
    letter-spacing: -0.5px;
    min-height: 100vh;
    background-color: var(--page-bg);
    color: var(--text-color);
}

/* Nav */

.nav {
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--dark-border);
    color: var(--header-text);
    padding: 20px 0;
    letter-spacing: normal;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.nav-row{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.logo{
    color: var(--header-text);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
}
.logo strong{
    font-weight: 700;
}
.nav-list{
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.nav-list__link{
    color: var(--header-text);
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}
.nav-list__link:hover{
    opacity: 0.8;
}

.nav-list__link--active{
    position: relative;
}
.nav-list__link--active::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}
.dark-mode-btn{
    order: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 0;
    width: 51px;
    height: 26px;
    border-radius: 30px;
    background-color: #272727;
    position: relative;
    padding: 5px;
}
.dark-mode-btn::before{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);
    transition: left 0.2s ease-in;
}
.dark-mode-btn--active::before{
    left: 26px;
}
.dark-mode-btn img{
    position: relative;
    z-index: 2;
}




/* footer */

.footer{
    margin-top: auto;
    background-color: var(--dark-bg);
    color: var(--white);
    padding: 60px 0 50px;
}
.social{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.social__item:hover{
    transform:  translateY(-2px);
    transition: 0.2s ease-in;
    opacity: 85%;
}
.social__item:active{
    opacity: 0.5;
    transform: scale(0.95) translateY(0px);
    transition: 0.2s ease-in;
}

/* main */

.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 250px;
}
.title-1{
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: var(--title-1);
    margin-bottom: 40px
}
.contacts{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.contacts__item{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.title-3{

    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
}
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}
.email{
    color: var(--accent);
}
@media(max-width: 620px){
    .title-1{
        font-size: 40px;
    }
    .title-3{
        font-size: 30px;
    }
    .text{
        font-size: 16px;
    }
    .contacts__item{
        row-gap: 10px;
    }
    .footer{
        padding: 40px 0 30px;
    }
    .social{
        column-gap: 15px;
    }
    .copyright{
        font-size: 14px;
    }
}